:root {
  --grey: rgb(154, 160, 167);
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-flow: row nowrap;
  min-height: 100vh;
  height: 100%;
}

#app > * {
  padding: 10px;
}

header {
  flex: 1 1 100%;
  text-align: center;
}

#p5-container {
  position: relative;
  flex: 0 1 auto;
}

.action-button {
  background-color: var(--grey);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#side-bar {
  flex: 0 0 15%;
  background-color: var(--grey);
  color: white;
}

#side-bar h5 {
  cursor: pointer;
}

#side-bar h5.active::before {
  content: "* ";
}

#explain {
  flex: 1 1 auto;
  align-self: stretch;
}

@media only screen and (max-width: 767px) {
  #app {
    flex-flow: row wrap;
  }

  #side-bar,
  #explain {
    flex: 1 1 100%;
  }
}

